{
    "Axes": [
        {
            "Id": 1,
            "Remarks": "载具Y轴",
            "JogPrm": {
                "Acc": 10000.0,
                "Dec": 10000.0,
                "Smooth": 0.8,
                "Vel": 1.0
            },
            "TrapPrm": {
                "Acc": 10000.0,
                "Dec": 10000.0,
                "VelStart": 100.0,
                "SmoothTime": 40,
                "Vel": 200.0
            },
            "GoHomePar": {
                "modeText": "限位+Home+Index回原点(13)",
                "mode": 13,
                "moveDir": -1,
                "indexDir": 1,
                "edge": 1,
                "triggerIndex": -1,
                "velHigh": 50.0,
                "velLow": 40.0,
                "acc": 10000.0,
                "dec": 10000.0,
                "smoothTime": 0,
                "homeOffset": 0,
                "searchHomeDistance": 0,
                "searchIndexDistance": 0,
                "escapeStep": 1000,
                "pad10": 0,
                "pad11": 0,
                "pad12": 0,
                "pad20": 0,
                "pad21": 0,
                "pad22": 0,
                "pad31": 0,
                "pad32": 0,
                "pad33": 0
            },
            "StartPoint": -13839,
            "EndPoint": 118146
        },
        {
            "Id": 2,
            "Remarks": "载具X轴",
            "JogPrm": {
                "Acc": 10000.0,
                "Dec": 10000.0,
                "Smooth": 0.8,
                "Vel": 1.0
            },
            "TrapPrm": {
                "Acc": 10000.0,
                "Dec": 10000.0,
                "VelStart": 100.0,
                "SmoothTime": 40,
                "Vel": 200.0
            },
            "GoHomePar": {
                "modeText": "限位+Home+Index回原点(13)",
                "mode": 13,
                "moveDir": -1,
                "indexDir": 1,
                "edge": 1,
                "triggerIndex": -1,
                "velHigh": 50.0,
                "velLow": 40.0,
                "acc": 10000.0,
                "dec": 10000.0,
                "smoothTime": 0,
                "homeOffset": 0,
                "searchHomeDistance": 0,
                "searchIndexDistance": 0,
                "escapeStep": 1000,
                "pad10": 0,
                "pad11": 0,
                "pad12": 0,
                "pad20": 0,
                "pad21": 0,
                "pad22": 0,
                "pad31": 0,
                "pad32": 0,
                "pad33": 0
            },
            "StartPoint": 22676,
            "EndPoint": 80159
        },
        {
            "Id": 3,
            "Remarks": "载具旋转轴",
            "JogPrm": {
                "Acc": 10000.0,
                "Dec": 10000.0,
                "Smooth": 0.9,
                "Vel": 0.04
            },
            "TrapPrm": {
                "Acc": 1.0,
                "Dec": 1.0,
                "VelStart": 5.0,
                "SmoothTime": 30,
                "Vel": 2.0
            },
            "GoHomePar": {
                "modeText": "限位+Home+Index回原点(13)",
                "mode": 13,
                "moveDir": -1,
                "indexDir": -1,
                "edge": 1,
                "triggerIndex": -1,
                "velHigh": 10.0,
                "velLow": 5.0,
                "acc": 10000.0,
                "dec": 10000.0,
                "smoothTime": 0,
                "homeOffset": 2006,
                "searchHomeDistance": 0,
                "searchIndexDistance": 0,
                "escapeStep": 1000,
                "pad10": 0,
                "pad11": 0,
                "pad12": 0,
                "pad20": 0,
                "pad21": 0,
                "pad22": 0,
                "pad31": 0,
                "pad32": 0,
                "pad33": 0
            },
            "StartPoint": 100,
            "EndPoint": 100
        },
        {
            "Id": 4,
            "Remarks": "载具Z轴",
            "JogPrm": {
                "Acc": 10000.0,
                "Dec": 10000.0,
                "Smooth": 0.9,
                "Vel": 1.0
            },
            "TrapPrm": {
                "Acc": 1.0,
                "Dec": 1.0,
                "VelStart": 5.0,
                "SmoothTime": 30,
                "Vel": 20.0
            },
            "GoHomePar": {
                "modeText": "Home+Index回原点(22)",
                "mode": 22,
                "moveDir": 1,
                "indexDir": -1,
                "edge": 1,
                "triggerIndex": -1,
                "velHigh": 10.0,
                "velLow": 10.0,
                "acc": 10000.0,
                "dec": 10000.0,
                "smoothTime": 0,
                "homeOffset": 0,
                "searchHomeDistance": 0,
                "searchIndexDistance": 0,
                "escapeStep": 1000,
                "pad10": 0,
                "pad11": 0,
                "pad12": 0,
                "pad20": 0,
                "pad21": 0,
                "pad22": 0,
                "pad31": 0,
                "pad32": 0,
                "pad33": 0
            },
            "StartPoint": 2897,
            "EndPoint": 100
        }
    ],
    "NosepieceCom": "COM3"
}